
	.pagination {
		display: flex;
		padding-left: 0;
		list-style: none;
		border-radius: .25rem;
	}

	.page-link {
		position: relative;
		display: block;
		padding: .5rem .75rem;
		margin-left: -1px;
		line-height: 1.25;
		color: #007bff;
		background-color: #fff;
		border: 1px solid #dee2e6;
	}

	.page-item.disabled .page-link {
		color: #6c757d;
		pointer-events: none;
		cursor: auto;
		background-color: #fff;
		border-color: #dee2e6;
	}

	.page-item:last-child .page-link {
		border-top-right-radius: .25rem;
		border-bottom-right-radius: .25rem;
	}

	.page-item.active .page-link {
		z-index: 1;
		color: #fff;
		background-color: #007bff;
		border-color: #007bff;
	}

    .float-right {
        float: right;
    }

    .mr-4{
        margin: 6px 12px;
		width: 100px;
    }
	.btn-danger{
		margin: 6px 12px;
		width: 100px;
	}

    .form-inline{
        display: inline-flex;
    }
	.form-control {
        appearance: auto !important;
    }
    .form-group{
       
    margin-bottom: 10px;

    }